<div class="card ">
    <div class="card-header text-center">
        <b>
            <h6>{{title}}</h6>
        </b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of items">
            <div class="row">
                <div class="col">{{item.description}}</div>
                <div class="col ms-auto text-end">
                    <span [ngStyle]="{color: color}">
                        <b>{{item?.amount| number: '1.2-2'}}</b>
                    </span>

                    <span class="ellipsis">
                        <button class="btn btn-sm" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true">
                            </i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li title="Modifier"><a class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="modalId_" (click)="edit(item)"><i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i> Modifier</a></li>
                            <li title="Copier"><a class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="modalId_" (click)="copy(item)"><i class="fa fa-clone" aria-hidden="true"></i>
                                    Copier</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li title="Supprimer" class=""><a class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="modalId_" (click)="delete(item)"><i class="fa fa-trash-o"
                                        aria-hidden="true"></i> Supprimer</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>