<div class="card ">
    <div class="card-header text-center">
        <b>
            <h6>{{title}}</h6>
        </b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of items">
            <div class="row">
                <div class="col">
                    <span *ngIf="option==0">
                        <div><b>{{item.description}}</b></div>
                        <div *ngIf='item["bankDto"]  && item["bankDto"].name != "Pas de banque !"'  >
                            <div>{{item["bankDto"].name}}</div>
                        </div>
                    </span>
                    <span *ngIf="option==1">
                        <div>{{item.name}}</div>
                        <div class="sub-title">Montant initial : {{item.initAmount}} / Montant a payer : {{item.paymentAmount}}</div>
                        <div  class="sub-title"><span> Créditeur : {{item.creditorName}}</span><span> / Taux :{{item.rate}}</span></div>
                    </span>
                </div>
                <div class="col ms-auto text-end">
                    <span [ngStyle]="{color: color}">
                        <span *ngIf="option==0">
                            <b>{{item?.amount| number: '1.2-2'}}</b>
                        </span>
                        <span *ngIf="option==1">
                            <b>{{item?.currentAmount| number: '1.2-2'}}</b>
                        </span>
                    </span>

                    <span class="ellipsis">
                        <button class="btn btn-sm" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true">
                            </i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li title="Modifier"><a class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="modalId_" (click)="edit(item)"><i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i> Modifier</a></li>
                            <li title="Copier"><a class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="modalId_" (click)="copy(item)"><i class="fa fa-clone" aria-hidden="true"></i>
                                    Copier</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li title="Supprimer" class=""><a class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="modalId_" (click)="delete(item)"><i class="fa fa-trash-o"
                                        aria-hidden="true"></i> Supprimer</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>