<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ACE HOME</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 menu">
      <ul>
        <!--<li class="menu-item"><a [routerLink] = "['']" [routerLinkActive]="'is-active'" >Tableau de bord</a></li>!-->

        <li class="menu-item"><a [routerLink]="['home']" [routerLinkActive]="'is-active'"><i class="fa fa-tachometer" aria-hidden="true"></i>  Tableau de bord</a></li>
        <li class="menu-item"><a [routerLink]="['task']" [routerLinkActive]="'is-active'"><i class="fa fa-tasks" aria-hidden="true"></i> Tâches</a></li>
        <li class="menu-item"><a [routerLink]="['activity']" [routerLinkActive]="'is-active'"><i class="fa fa-university" aria-hidden="true"></i> Activité</a></li>
        <li class="menu-item"><a [routerLink]="['debt']" [routerLinkActive]="'is-active'"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Dêttes</a></li>
      </ul>
    </div>
    <div class="col-10 core">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>