<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="center">
        <br>
        <h5>Balance</h5>
        <span class="balance">
          <div [ngClass]="balance>0 ? 'ace-blue' : 'ace-red '">{{balance| number: '1.2-2'}}</div>
        </span>

        <hr>
      </div>
    </div>
    <div class="col-12">
      <div class="date">
        Date : {{date}}
      </div>
    </div>
    <div class="detail col-12">
      <div class="row">
        <div class="col-6">
          <app-activity-list title="Source" [items]=sources color="#0c2461"></app-activity-list>
        </div>
        <div class="col-6">
          <div>
            <app-activity-list title="Dépense" [items]=depenses color="#c0392b"></app-activity-list>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>