.center{
    text-align: center;
}

.date{
    font-size: 15px;
    font-weight: 750;
}
.detail{
    margin-top: 10px;
}


.balance{
    font-size: 30px;
    font-weight: 700;
}
.addDebt{
    margin-bottom: 10px;
}