<app-dash-header [dashHeader]="dashHeader" [option]="option">
</app-dash-header>

<div class="addDebt row align-items-end">
  <div class="col-md-4 ms-auto">
    <button class="btn btn-primary pull-right" data-bs-toggle="modal" (click)="addDebt()"
      [attr.data-bs-target]="modalControl.modalId_"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
  </div>
</div>

<app-ace-panel [acePanel]="acePanel">
  <div select=[items]>
    <app-debt-panel-item [debt]="item" *ngFor="let item of acePanel.items"></app-debt-panel-item>
  </div>
</app-ace-panel>

<app-modal [modalId]="modalControl.modalId" [title]="modalControl.modalTitle">
  <app-debt-form *ngIf="modalControl.modalOption<3" [option]="modalControl.modalOption" (dataEvent)="handleDataEvent()">
  </app-debt-form>
</app-modal>

