$task-basse:#718093;
$task-basse-bg:#71809322;
$task-normal:#192a56;
$task-normal-bg:#192a5622;
$task-importent:#e1b12c;
$task-importent-bg:#e1b12c22;
$task-urgent:#EE5A24;
$task-urgent-bg:#EE5A2422;
$task-urgent-importent:#c23616;
$task-urgent-importent-bg:#c2351622;

$task-a_faire:#1e90ff;
$task-a_faire-bg:#1e90ff22;

$task-en_cours:#ffa502;
$task-en_cours-bg:#ffa50222;

$task-terminer:#2ed573;
$task-terminer-bg:#2ed57322;
