<div class="card ">
    <div class="card-header text-center">
        <b>
            <h6>{{title}}</h6>
        </b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of items">
            <div class="row">
                <div class="col">{{item.description}}</div>
                <div class="col ms-auto text-end" [ngStyle]="{color: color}" ><b>{{item.amount| number: '1.2-2'}}</b></div>
            </div>
        </li>
    </ul>
</div>